# Browser Compatibility Report

## Desktop

### Chrome (v91)

- [x] Enter a correct Stash ID and see the staking rewards
- [x] Set filter
- [x] Download reports, each kind
- [x] Enter an incorrect Stash ID and see an error message

### Firefox 

- [x] Enter a correct Stash ID and see the staking rewards
- [x] Set filter
- [x] Download reports, each kind
- [x] Enter an incorrect Stash ID and see an error message

## Mobile

### iPhone 11

- [x] Enter a correct Stash ID and see the staking rewards, the layout should be reasonable
- [x] Set filter
- [x] Download button should be hidden
- [x] Enter an incorrect Stash ID and see an error message
